
html, body {
  margin: 0; padding: 0;
  color: #333;
}

body {
  background-color: #f5f5f3;
}

#wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 115px;
  box-sizing: border-box;
}

#main-container {
  margin: 0; padding: 0;
  width: 100%;
}

/* Header */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  z-index: 1000;
  background-color: #efefef;
}

#header #header-nav {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  min-height: 63px;
  margin: 0;
  padding: 0 1%;
  background: #efefef;
}

#header #header-nav a {
  text-decoration: none;
}

#header #header-nav ul#nav-list a:hover {
  background-color: #cdcdcd;
}

#header #header-nav #site-title {
  height: 3.5rem;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1.3rem 0.8rem 0.3rem 0.5rem;
  max-height: 100%;
  text-align: center;
  box-sizing: border-box;
}

#header #header-nav #site-desc {
  height: 3.0rem;
  font-weight: normal;
  font-size: 0.6rem;
  padding: 2.2rem 0rem 0.3rem 0.5rem;
  max-height: 100%;
  text-align: right;
  box-sizing: border-box;
  color: #888;
}

/**  Slide Menu  */
#header-nav > #slide-menu > #navTgl {
  display: none;
}

#header-nav > #slide-menu > label.open {
  position: absolute;
  top: 14px;
  left: 10px;
  z-index: 2;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.1);
  transition: background .6s, transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#header-nav > #slide-menu > #navTgl:checked + label.open {
  left: 0;
	background: rgba(110,200,150,0.8);
  transform: translateX(250px);
}

#header-nav > #slide-menu > label.open span, 
#header-nav > #slide-menu > label.open::before, 
#header-nav > #slide-menu > label.open::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 2px solid white;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#header-nav > #slide-menu > #navTgl:checked + .open span {
  transform: scaleX(0);
}
#header-nav > #slide-menu > #navTgl:checked + .open::before {
  transform: rotate(45deg);
}
#header-nav > #slide-menu > #navTgl:checked + .open::after {
  transform: rotate(-45deg);
}

#header-nav > #slide-menu > label.open::before {
  transform: translateY(-8px);
}
#header-nav > #slide-menu > label.open::after {
  transform: translateY(8px);
}

#header-nav > #slide-menu > label.close {
  position: fixed;
  left: 0;
	pointer-events: none;
	z-index: 1;
	width: 100%;
	height: 100%;
	transition: background-color .6s;
}

#header-nav > #slide-menu > #navTgl:checked ~ label.close {
	pointer-events: auto;
	background-color: rgba(0,0,0,.3);
}

#header-nav > #slide-menu > nav.menu {
  z-index: 1;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 10px;
  padding-left: 1.2rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  transform: translateX(-100%);
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#header-nav > #slide-menu > #navTgl:checked ~ nav.menu {
  transform: none;
}

/* Site Navigation  */
#header-nav > ul.is-loading {
  display: none;   /* for FOUC(Flash of Unstyled Content) */
}

#header #header-nav ul#nav-list {
  width: 100%;
  line-height: 1;
  list-style: none;
  margin: 4.0rem 0 1.0rem;
  padding: 0 1.0rem 0 0;
  box-sizing: border-box;
}

#header #header-nav ul {
  list-style: none;
}

/* @keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

/* when sub-menu or inner-sub-menu close */
#header #header-nav ul#nav-list li.nav-item ul.sub-menu,
#header #header-nav ul#nav-list li.nav-item ul.sub-menu li.nav-item ul.inner-sub-menu {
  position: absolute;
  height: 0%;
  line-height: 0em;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: all 0.6s ease-out 0s;
}

/* when sub-menu or inner-sub-menu open */
#header #header-nav ul#nav-list li.nav-item.open ul.sub-menu,
#header #header-nav ul#nav-list li.nav-item ul.sub-menu li.nav-item.open ul.inner-sub-menu {
  display: block;
  position: relative;
  height: 100%;
  line-height: 1.5em;
  visibility: visible;
  opacity: 1;
}

#header #header-nav ul#nav-list > li.nav-item {
  margin: 0 0.2em;
  padding-top: 0.2rem;
  line-height: 1.8rem;
  font-size: 1.2em;
}

#header #header-nav ul#nav-list > li.nav-item a {
  display: block;
  width: 100%;
  font-size: 95%;
  text-decoration: none;
  padding-left: 1.0em;
}

#header #header-nav ul#nav-list li.nav-item ul.sub-menu {
  width: 100%;
  padding: 0.3rem 0 0.8rem 1.4em;
  line-height: 1.5em;
  font-size: 0.9em;
  z-index: 1;
}

#header #header-nav ul#nav-list li.nav-item ul.sub-menu li.nav-item {
  font-size: 0.9em;
}

#header #header-nav ul#nav-list li.nav-item ul.sub-menu li.nav-item a.menulink-all {
  width: 75%;
  font-size: 0.9em;
  margin: 0 5px 0 25px;
  padding: 0;
  box-sizing: content-box;
}

#header #header-nav ul#nav-list li.nav-item ul.sub-menu li.nav-item ul.inner-sub-menu {
  width: 100%;
  padding-left: 1.0em;
}


#header #header-nav ul#nav-list > li.home {}
#header #header-nav ul#nav-list > li.archives {}
#header #header-nav ul#nav-list > li.categories {}
#header #header-nav ul#nav-list > li.tags {}
#header #header-nav ul#nav-list > li.search,
#header #header-nav ul#nav-list > li.about {}

  
/* ========================================================================== */
/* Main Contents */
#main-contents {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 0;
  min-height: 80vh;
  background-color: #FFF;
}

#main-contents .container,
#main-contents .container .breadcrumbs,
#main-contents .container .page_header,
#main-contents .container .page_body
 {
  z-index: 1;
}

/* ========================================================================== */
/* Footer */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  z-index: 2;
  background-color: #efefef;
  box-sizing: border-box;
}

#footer-script {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0;
  background-color: #efefef;
}

#footer > .container {
  margin: 0 23%;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copyright {
  margin-bottom: 0;
}

.social-link {
  display: flex;
  flex-wrap: wrap;
}
.social-link_item {
  font-size: 1.5em;
}
.social-link_item a {
  color: #666;
  display: block;
  padding: 5px;
}

/* ========================================================================== */
.container {
  max-width: 100%;
  margin: auto;
  padding: 0.5rem 0.8rem;
}

.front-page {
  padding: 0.5% 0;
}

.archive {
  padding: 2% 0;
  border-bottom: 1px solid #ccc;
}
.archive_title {
  margin: 0;
}
.archive_title a {
  padding: 1.0rem 0.5rem 1.0rem 0.2rem;
  color: #808000;
  text-decoration: none;
}
.archive_excerpt {
  font-size: 14px;
  color: #666;
  margin-top: 1em;
}

nav.breadcrumbs {
  position: relative;
  margin-left: 1.0em;
  padding: 0.6em 0 1.5em;
}

nav.breadcrumbs a {
  position: relative;
  z-index: 3;
}

ul.posts {
  line-height: 1.6em;
  list-style: none;
  padding-left: 1.0em;
}

/* ========================================================================== */
.page_header {
  border-bottom: 1px solid #ccc;
  padding: 0.5% 0;
}
.page_title {
  margin: 8px 0 20px;
  font-size: 24px;
  font-weight: bold;
}

.page-title-main {
  color: #808000; 
}

.frontpage > h1.page_title {
  font-size: 16px;
  font-weight: normal;
  margin: 6px 0;
}

.frontpage > h1.page_title > .title-prefix {
  display: none;
}

.title-prefix {
  font-size: 16px;
  color: #555;
  font-weight: normal;
  font-style: oblique;
  vertical-align: 15%;
  padding-right: 0.5em;
}

.title-lmark, .title-rmark {
  color: #999;
  font-size: 0.9em;
}

.page_description, .page_date, .archive_date {
  font-size: 0.7em;
  color: #666;
  margin: 0.8em 0 0.4em 0.6em;
}

.page_date, .archive_date {
  color: #228b22;
}

.post-date {
  font-size: 0.8em;
  color: #228b22;
}

.page_body .post-date {
  position: relative;
  right: 0;
  margin-left: 1.5em;
}

.post_header .post-date {
  margin: 0.2em 1.0em;
  padding: 0 10px 5px;
  padding-bottom: 5px;
  text-align: right;
  border-bottom: 1px solid #dfdfdf;
}

.frontpage .page_description {
  display: none;
}

a {
  color: #2f87a7;
  text-decoration: none;
}
a:hover {
  color: #54aecf;
}

h2 {
  margin: 2em 0 1.5em 0;
  font-size: 20px;
}

.page_body {
  padding: 0 0.5em 1.5%;
}

/* frontpage widget */
.page_body .front-page .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-auto-flow: row;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin: 1.0em auto;
  padding: 0;
  max-width: 1600px;
  background-color: #ffffff;
}

.page_body .front-page .container .frontpage-widget {
  position: relative;
  padding: 10px;
  margin: 0;
  text-align: left;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #dedede;
  overflow: hidden;
}

.page_body .front-page .container .frontpage-widget > a > img {
  width: 100%;
  margin: 0 auto 1.0em auto;
}

.page_body .front-page .container .frontpage-widget.gridrow-1 {
  grid-row: span 1;
}
.page_body .front-page .container .frontpage-widget.gridrow-2 {
  grid-row: span 2;
}
.page_body .front-page .container .frontpage-widget.gridrow-3 {
  grid-row: span 3;
}
.page_body .front-page .container .frontpage-widget.gridrow-4 {
  grid-row: span 4;
}

.button-more {
  position: relative;
  bottom: 0;
  margin: 2.0em 0 0;
  font-size: 0.8em;
}


/* ========================================================================== */
.post_title {
  margin: 8px;
  font-size: 24px;
  font-weight: bold;
  color: #808000;
}

/* ========================================================================== */
/* pager */
.pager {
  padding: 0.5% 0.8rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.95em;
}
.pager_item a, .pager_item--prev a, .pager_item--next a {
  text-decoration: none;
}

.pager_item--prev {
  margin-left: auto;
}

.pagination {
  padding: 2% 0;
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  font-size: 0.9rem;
}

.pagination_item {
  margin-right: 4px;
  text-decoration: none;
  display: block;
  padding: 4px 10px;
  border: 1px solid #ccc;
}

.pagination .current {
  background: #256f99;
  border-color: #256f99;
  color: white;
}

figure.highlight {
  margin: 0;
  padding: 0 12px;
  overflow: auto;
  background-color: #efefee;
}

pre {
  margin: 0.5em 0;
}

.post-size {
  margin-left: 0.5em;
  font-weight: normal;
  font-size: 0.9em;
}

.MJXc-display {
  margin: 2.0em 0 !important;
}

/* ========================== @media screen ================================= */

/* -------------- Less than 1080px width ------------------ */
@media screen and (max-width: 1080px) {

  #wrapper {
    padding-bottom: 4.0rem;
  }

  #main-contents {
    left: 0;
    padding: 0;
  }

  #main-contents > .container {
    padding: 10px 0;
  }

  #footer {
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: 4.0rem;
  }

  #footer > .container {
    margin: 0 8%;
    padding: 0;
    box-sizing: border-box;
  }

  .social-link_item {
    font-size: 1.0em;
    margin: 15px 0;
  }

  .page_title, .post_title {
    font-size: 1.0rem;
    text-align: center;
  }

  .page_body {
    padding: 2% 4%;
  }

  h1, h2, h3, h4 {
    margin:  1.0em 0 0.3em;
  }

  .MJXc-display {
    overflow-x: auto;
  }

  .pager {
    padding: 0.5% 2%;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
  }
}

/* maximum-sized screens */
@media only screen and (min-width: 1700px) {
  .page_body .front-page .container {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* medium-sized screens */
@media only screen and (max-width: 1300px) and (min-width: 1081px) {
  .page_body .front-page .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* medium-sized screens */
@media only screen and (max-width: 1080px) and (min-width: 861px) {
  .page_body .front-page .container {
    grid-template-columns: repeat(2, 1fr);
  }

}

/* smartphone screens */
@media only screen and (max-width: 860px) {
  .page_body .front-page .container {
    grid-template-columns: repeat(1, 1fr);
  }

  #header-nav > #slide-menu > label.open {
    position: absolute;
    top: 18px;
    left: 10px;
    width: 35px;
    height: 35px;
  }
}