
html, body {
  margin: 0; padding: 0;
  color: #333;
}

#wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 135px;
  box-sizing: border-box;
}

#main-container {
  margin: 0; padding: 0;
  width: 100%;
}

/* Header */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  z-index: 1000;
  background-color: #efefef;
}

#header #header-nav {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0 1%;
  background: #efefef;
}

#header #header-nav a {
  text-decoration: none;
}

#header #header-nav ul#nav-list li.nav-item ul.sub-menu li:hover, 
#header #header-nav ul#nav-list a:hover {
  background-color: #cdcdcd;
}

#header #header-nav #site-title {
  height: 3.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1.4rem 0.5rem 0.3rem 0;
  max-height: 100%;
  text-align: right;
  box-sizing: border-box;
}

/* Site Navigation  */
#header #header-nav ul#nav-list {
  position: absolute;
  width: 100%;
  line-height: 1;
  float: right;
  list-style: none;
  margin: 0.9rem 0 1.0rem;
  box-sizing: border-box;
}

#header #header-nav ul {
  list-style: none;
}

#header #header-nav ul.sub-menu {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

#header #header-nav ul.inner-sub-menu {
  visibility: hidden;
  opacity: 0;
}

#header #header-nav ul#nav-list > li.nav-item {
  position: relative;
  float: left;
  width: 10%;
  margin: 0 0.2em;
  line-height: 2.5rem;
}

#header #header-nav ul#nav-list > li.nav-item a {
  display: block;
  width: 100%;
  font-size: 95%;
  text-align: center;
  text-decoration: none;
}

#header #header-nav ul#nav-list li.nav-item ul.sub-menu {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  padding: 0.3rem 0 0.8rem 0;
  line-height: 1.8em;
  opacity: 0.5;
  transition: all .2s ease;
  z-index: 1;
  background-color: #dedede;
}

#header #header-nav ul#nav-list li.nav-item.open ul.sub-menu {
  top: 46px;
  visibility: visible;
  opacity: 1;
}

#header #header-nav ul#nav-list li.nav-item ul.sub-menu li.nav-item {
  position: relative;
  font-size: 0.9em;
}

#header #header-nav ul#nav-list li.nav-item ul.sub-menu li.nav-item a.menulink-all {
  width: 90%;
  font-size: 0.9em;
  text-align: center;
  margin: 0 5px 0 5px;
  padding: 0;
  box-sizing: content-box;
}


#header #header-nav ul#nav-list li.nav-item ul.sub-menu li.nav-item a {
  text-align: left;
  padding-left: 1.0rem;
  box-sizing: border-box;
}

#header #header-nav ul#nav-list li.nav-item ul.sub-menu li.nav-item ul.inner-sub-menu {
  position: absolute;
  top: 0; 
  left: 100%;
  width: 100%;
  padding: 0;
  background-color: #dedede;
  opacity: 0.5;
  transition: all .2s ease;
}
#header #header-nav ul#nav-list li.nav-item ul.sub-menu li.nav-item:hover ul.inner-sub-menu {
/* #header #header-nav ul#nav-list li.nav-item ul.sub-menu li.nav-item.open ul.inner-sub-menu { */
  visibility: visible;
  opacity: 1;
}

#header #header-nav ul#nav-list li.nav-item ul.sub-menu li.nav-item ul.inner-sub-menu li.nav-item {
  position: relative;
}

#header #header-nav ul#nav-list li.archives ul.sub-menu {
  padding: 0.5rem 0.1rem 0.6rem;
  line-height: 1.3em;
  box-sizing: border-box;
}

#header #header-nav ul#nav-list li.archives ul.sub-menu li.nav-item a {
  text-align: center;
  padding-left: 0;
}

#header #header-nav ul#nav-list li.categories ul.sub-menu {
  width: 120%;
  box-sizing: content-box;
}

#header #header-nav ul#nav-list li.tags > ul.sub-menu {
  /* display: none; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300%;
  left: -65%;
  height: auto;
  box-sizing: content-box;
}

#header #header-nav ul#nav-list li.tags > ul.sub-menu li.nav-item {
  width: auto;
}
#header #header-nav ul#nav-list li.tags > ul.sub-menu li.nav-item a {
  width: 100%;
  padding: 0 10px;
}

#header #header-nav ul#nav-list > li.nav-fill {
  width: 2%;
}

/* arrow */
.down-arrow::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 22px;
  right: -5px;
  width: 5px;
  height: 5px;
  margin: 0 0 0 15px;
  border-right: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  transform: rotate(45deg);
}

.right-arrow::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 8px;
  width: 5px;
  height: 5px;
  margin: 0 0 0 15px;
  border-right: 1px solid #AAA;
  border-top: 1px solid #AAA;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

li.archives a.down-arrow:after {
  right: 5px;
}
li.tags a.down-arrow:after {
  right: 15px;
}

/** when large screen hide drawer */
#drawer {
  display: none;
}

/* ========================================================================== */
/* Main Contents */
#main-contents {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px;
  z-index: 0;
}

#main-contents .container,
#main-contents .container .breadcrumbs,
#main-contents .container .page_header,
#main-contents .container .page_body
 {
  z-index: 1;
}

/* ========================================================================== */
/* Footer */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  z-index: 2;
  background-color: #efefef;
  box-sizing: border-box;
}

#footer-script {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0;
  background-color: #efefef;
}

.footer {
  border-top: 1px solid #ccc;
  padding: 0.5% 0;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copyright {
  margin-bottom: 0;
}

.social-link {
  display: flex;
  flex-wrap: wrap;
}
.social-link_item {
  font-size: 1.5em;
}
.social-link_item a {
  color: #666;
  display: block;
  padding: 5px;
}

/* ========================================================================== */
.container {
  max-width: 800px;
  margin: auto;
  padding: 10px 20px;
}

.front-page {
  padding: 0.5% 0;
}

.archive {
  padding: 0.5% 0;
  border-bottom: 1px solid #ccc;
}
.archive_title {
  margin: 0;
}
.archive_title a {
  color: #333;
  text-decoration: none;
}
.archive_excerpt {
  font-size: 14px;
  color: #666;
  margin-top: 1em;
}

nav.breadcrumbs a {
  position: relative;
  z-index: 3;
}

/* ========================================================================== */
.page_header {
  border-bottom: 1px solid #ccc;
  padding: 0.5% 0;
}
.page_title {
  margin: 8px;
  font-size: 24px;
  font-weight: bold;
}

.frontpage > h1.page_title {
  font-size: 20px;
  font-weight: normal;
}

.frontpage > h1.page_title > .title-prefix {
  display: none;
}

.title-prefix {
  font-size: 16px;
  color: #555;
  font-weight: normal;
  font-style: oblique;
  vertical-align: 15%;
  padding-right: 0.5em;
}

.title-lmark, .title-rmark {
  color: #999;
  font-size: 0.9em;
}

.page_description, .page_date, .archive_date {
  font-size: 0.8em;
  color: #666;
  margin-top: 1em;
}

a {
  color: #2f87a7;
}
a:hover {
  color: #54aecf;
}

h2 {
  margin: 2em 0 1.5em 0;
  font-size: 20px;
}

.page_body {
  padding: 0.5% 0;
}

/* ========================================================================== */
.post_title {
  margin: 8px;
  font-size: 24px;
  font-weight: bold;
}

/* ========================================================================== */
/* pager */
.pager {
  padding: 0.5% 0;
  display: flex;
  flex-wrap: wrap;
}
.pager_item a, .pager_item--prev a, .pager_item--next a {
  text-decoration: none;
}
.pager_item--prev {
  margin-left: auto;
}

.pagination {
  padding: 0.5% 0;
  display: flex;
  flex-wrap: wrap;
}
.pagination_item {
  margin-right: 4px;
  text-decoration: none;
  display: block;
  padding: 7px 16px;
  border: 1px solid #ccc;
}
.pagination .current {
  background: #256f99;
  border-color: #256f99;
  color: white;
}

figure.highlight {
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* ========================================================================== */
/* -------------- Less than  1400px width ------------------ */
@media screen and (max-width: 1400px) {
  .down-arrow::after, .right-arrow::after {
    display: none;
  }
}

/* -------------- Less than 1080px width ------------------ */
@media screen and (max-width: 1080px) {

  @keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }

  #wrapper {
    padding-bottom: 4.0rem;
  }

  #main-contents {
    left: 0;
    padding: 0;

  }

  #main-contents > .container {
    padding: 10px 0;
  }

  #footer {
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: 4.0rem;
  }

  #footer > .container {
    margin: 0;
    padding: 0 25px;
    box-sizing: border-box;
  }
  .social-link_item {
    font-size: 1.0em;
    margin: 15px 0;
  }

  #header #header-nav #site-title {
    position: absolute;
    left: 20px;
  }

  #header > nav#header-nav > ul#nav-list {
    display: none;
    opacity: 0;
  }

  /*when main menu open */
  #header > nav#header-nav > ul#nav-list.open {
    position: absolute;
    top: 3.5rem;
    /* left: -4px; */
    left: 0;
    display: block;
    opacity: 1;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none;
    overflow: auto;
    background-color: #e8e8e8;
    box-sizing: border-box;
    animation: show 0.4s linear 0s;
  }

  #header > nav#header-nav > ul#nav-list > li.nav-item {
    position: relative;
    width: 100%;
    margin: 0;
    line-height: 2.5rem;
    ;
    border: 1px solid #ddd;
  }

  #header > nav#header-nav > ul#nav-list li.nav-item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    text-decoration: none;
  }

  #header > nav#header-nav > ul#nav-list li.nav-item ul.sub-menu {
    display: none;
    opacity: 0;
  }

  /* when sub menu open */
  #header > nav#header-nav > ul#nav-list li.nav-item.open ul.sub-menu {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    opacity: 1;
    width: 100%;
    padding: 0;
    font-size: 0.9rem;
    background-color: #dfdfdf;
    animation: show 1.0s linear 0s;
  }

  #header > nav#header-nav > ul#nav-list li.nav-item ul.sub-menu li.nav-item {
    position: relative;
    display: list-item;
    border: 1px solid #ccc;
  }

  #header > nav#header-nav > ul#nav-list li.nav-item ul.sub-menu li.nav-item a {
    padding: 0.8em 0;
    text-align: center;
  }

  #header #header-nav ul#nav-list li.nav-item ul.sub-menu li.nav-item a.menulink-all {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0.8em 0;
    box-sizing: content-box;
  }

  #header > nav#header-nav > ul#nav-list li.nav-item ul.sub-menu li.nav-item ul.inner-sub-menu {
    display: none;
    left: -25%;
    width: 100%;
    padding: 0;
    background-color: #d1d1d1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }

  #header > nav#header-nav > ul#nav-list li.nav-item ul.sub-menu li.nav-item ul.inner-sub-menu li.nav-item {
    position: relative;
    display: list-item;
    border: 1px solid #bbb;
  }

  /* when inner sub menu open */
  #header > nav#header-nav > ul#nav-list li.nav-item ul.sub-menu li.nav-item:hover ul.inner-sub-menu {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    visibility: visible;
    opacity: 1;
    width: 100%;
    padding: 0;
    background-color: #d1d1d1;
    animation: show 1s linear 0s;
  }

  #header #header-nav ul#nav-list > li.nav-fill {
    display: none;
  }

  /* Drawer */
  nav#header-nav > #drawer {
    position: fixed;
    top: 0;
    /* right: 20px; */
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    padding: 0 1em;
  }
  nav#header-nav > #drawer > .navbar_toggle {
    position: relative;
    top: 0;
    z-index: 1000;
  }
  nav#header-nav > #drawer > .navbar_toggle > .navbar_toggle_icon {
    position: relative;
    display: block;
    height: 2px;
    width: 30px;
    background: #5c6b80;
    transition: ease .5s;
  }
  nav#header-nav > #drawer > .navbar_toggle .navbar_toggle_icon:nth-child(1) {
    top: 0;
  }
  nav#header-nav > #drawer > .navbar_toggle .navbar_toggle_icon:nth-child(2) {
    margin: 8px 0;
  }
  nav#header-nav > #drawer > .navbar_toggle .navbar_toggle_icon:nth-child(3) {
    top: 0;
  }
  /* when drawer open */
  nav#header-nav > #drawer > .navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  nav#header-nav > #drawer > .navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
    top: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }
  nav#header-nav > #drawer > .navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
    top: -10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

}

